/* ############################################################################################# */

/*_ GENERAL DECLARATIONS */

/* ############################################################################################# */

html {
    /* Now, 1rem = 10px */
    font-size: 63.5%;
}

body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
    list-style: none;
    font-size: 1.6rem;
}

input {
    height: 4rem;
}

input[type=radio] {
    width: 2rem;
    height: 2rem;
    margin: 1rem 0rem 1rem 0rem;
}

input[name="difficulty"] {
    color: red;
}

label[name="dif"] {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 10rem;
    font-size: 2rem;
    text-align: left;
    margin: 0.3rem 0rem 0rem 0rem;
}

option {
    background-color: white;
    color: black;
    font-size: 1.6rem;
    border-radius: 1.2rem;
}

ion-icon[name="add-outline"] {
    font-size: 4rem;
}
ion-icon {
    transition: all .1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
ion-icon:hover {
    transform: scale(1.1);
}
ion-icon:active {
    transform: scale(1.0);
}

img {
    box-shadow: rgba(75, 77, 80, .4) 0px 8px 24px;
}

/* ############################################################################################# */

/*_ WEBSITE */

/* ############################################################################################# */

.logo {
    width: 10rem; 
    height: 2rem;
    box-shadow: none;
}

.home {
    padding: 4rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: black;
    width: 100vw;
}

.p-header {
    position: relative;
    top: 12rem;
    width: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-text {
    font-size: 4rem;
    font-weight: bold;
    color: black;
    margin: 1rem 1rem -1rem 0rem;
}

.heading {
    font-size: 10rem;
    font-weight: bold;
}

.create {
    background-image: linear-gradient(90deg, #00e1ff 0%, #001aff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0rem 0rem 1rem 1rem;
}

.playAndReview {
    background: linear-gradient(90deg, #00e1ff 0%, #001aff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0rem 8rem 1rem 0rem;
}

.remember {
    background: linear-gradient(to right, rgb(11, 163, 96), rgb(60, 186, 146));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0rem 0rem 0rem 3rem;
}

.header-details {
    margin: 4rem 0rem 0rem 0rem;
    font-size: 2rem;
    width: 72rem;
    color: gray;
    text-align: center;
}

.customButton {
    width: 18rem;
    height: 6rem;
    border-radius: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    transition: all 0.1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    margin: 0rem 6rem 0rem 0rem;
}

.customButton:hover {
    transform: scale(1.05);
}

.customButton:active {
    transform: scale(1.0);
}

.signUpButton {
    background-color: white;
    color: black;
}
.signUpButton:hover {
    background-color: white;
    color: black;
}

.loginButton {
    border: 0.5px solid white;
    color: white;
}
.loginButton:hover {
    border: 0.5px solid white;
    color: white;
}

.features {
    position: relative;
    top: 26rem;
    left: -2%;
}

.features-row {
    margin: 4rem 0rem 8rem 0rem; 
    padding: 4rem;
    border-radius: 2rem;
    box-shadow: rgba(75, 77, 80, .2) 0px 8px 24px;
}

.features-heading {
    font-size: 6.4rem;
    font-weight: bold;
    margin: 0rem 0rem 2rem 0rem;
}

.features-details {
    font-size: 2rem;
    color: black
}

.try-now {
    position: relative;
    top: 12rem;
    width: 50rem;
    margin: 12rem 10rem 4rem 0rem;
}

.dim {
    font-size: 2rem;
    color: gray;
    margin: 2rem 0rem 1rem 0rem;
}

.dim2 {
    margin: 0rem 0rem 4rem 0rem;
    color: gray;
    font-size: 2rem;
    font-weight: normal;
}

#home-footer {
    width: 100%;
    height: 16rem;
    position: absolute;
    bottom: -16rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: rgb(36, 36, 36);
    font-size: 2rem;
}

#footer {
    position: absolute;
    bottom: 1.5rem;
    left: 43%;
    font-size: 1.6rem;
    color: black;
}

/* ############################################################################################# */

/*_ APP */

/* ############################################################################################# */

.btn {
    transition: all 0.1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.btn:hover {
    transform: scale(1.05);
}

.btn:active {
    transform: scale(1.0);
}

.bg {    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #00e1ff;
    background-image: linear-gradient(90deg, #00e1ff 0%, #001aff 100%);
} 

.dashboard {
    width: 120rem;
    height: 60rem;
    overflow-y: scroll;
    padding: 4rem;
    border-radius: 1rem;
    background-color: white;
    box-shadow: rgba(75, 77, 80, 0.2) 0px 8px 24px;
}


#head {
    background-color: white;
    box-shadow: rgba(75, 77, 80, 0.2) 0px 8px 24px;
    width: auto;
    height: 8rem;
    padding: 2rem;
    border-radius: 1rem;
}

#playButton {
    background-color: #1266F1;
    color: white;
    height: 4rem;
    border-radius: 1.2rem;
    width: 100%;
    margin: 3rem 0rem 0rem 0rem;
    transition: all .1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

#playButton:hover {
    transform: scale(1.05);
}
#playButton:active {
    transform: scale(1);
}

.reviewChip {
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: -1rem 0rem 0rem -1rem;
    height: 4rem;
    background-color: #F93154;
    color: #ebe4e4;
    border-radius: 1rem;
}

.add-deck {
    width: 80rem;
    min-height: auto;
    padding: 4rem;
    border-radius: 1rem;
    background-color: white;
    box-shadow: rgba(75, 77, 80, 0.2) 0px 8px 24px;
}

.login {
    width: 40rem;
    min-height: auto;
    padding: 4rem;
    border-radius: 1rem;
    background-color: white;
    box-shadow: rgba(75, 77, 80, 0.2) 0px 8px 24px;
}

.error-container {
    width: 40rem;
    min-height: auto;
    padding: 4rem;
    font-size: 2rem;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    background-color: white;
    box-shadow: rgba(75, 77, 80, 0.2) 0px 8px 24px;
}

.confirm_deletion {
    width: 40rem;
    min-height: auto;
    padding: 4rem;
    border-radius: 1rem;
    background-color: white;
    box-shadow: rgba(75, 77, 80, 0.2) 0px 8px 24px;
}

.deck-container {
    display: flex;
    flex-direction: row;
    height: 30rem;
    width: 100rem;
    overflow-x: auto;
    padding: 0rem 0rem 0rem 1rem;
}

.edit_deck {
    width: 84rem;
    min-height: auto;
    padding: 2rem;
    border-radius: 1rem;
    background-color: white;
    box-shadow: rgba(75, 77, 80, 0.2) 0px 8px 24px;
}

.edit_cards {
    width: 84rem;
    height: 60rem;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 2rem;
    border-radius: 1rem;
    background-color: white;
    box-shadow: rgba(75, 77, 80, 0.2) 0px 8px 24px;
}

#addMoreQA {
    margin: 3rem 0rem 1rem 1.5rem;
}

#inputContainer {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 16rem;
}

.deck-card {
    height: 24rem;
    width: 24rem;
    max-height: 24rem;
    min-height: 24rem;
    max-width: 24rem;
    min-width: 24rem;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.28) 0px 8px 18px;
    border-radius: 2rem;
    margin-right: 2rem;
    padding: 2rem;
}

.play {
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

.icons {
    display: flex;
    flex-direction: row;
    width: 10rem;
    justify-content: space-evenly;
    margin: 0rem 0rem 4rem -2rem;
}

.submit_ctrl {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 6%;
}

.edit {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.hide {
    display: none;
}

.cardContainer {
    display: flex;
    flex-direction: row;
}

.qacard {
    height: 40rem;
    width: 40rem;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
    padding: 8rem;
}

.button-wrapper {
    height: 4rem;
    width: 40rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 10%;
    left: 36;
}

.q_details {
    position: relative;
    top: -4rem;
    left: -2rem;
}

#showAnswer {
    border-radius: 1.2rem;
    background: #000; 
    height: 4rem; 
    width: 16rem; 
}

#nextBtn {
    border-radius: 1.2rem;
    border: 1px solid black;
    color: black;
    height: 4rem;
    width: 16rem;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#nextBtn:hover {
    background-color: black;
    color: white;
}

#submitAll {
    display: none;
    background-color: black;
    color: white;
    width: 20rem;
    height: 6rem;
    font-size: 1.6rem;
    border-radius: 2rem;
    position: absolute;
    top: 44%;
    left: 44%;;
}


#back {
    display: none;
    background-color: transparent;
    border: 1px solid black;
    font-size: 1.6rem;
    color: black;
    position: relative;
    top: 100%;
    left: 18%;
    width: 20rem;
    height: 6rem;
    border-radius: 2rem;
    margin: 0rem 0rem 0rem -4rem;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    padding: 1.6rem 1rem 0rem 1rem;
}

#back:hover {
    background-color: black;
    color: white;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #b8b8b8  #ffffff;
    scrollbar-gutter: 2rem;
}   

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 16px;
}

*::-webkit-scrollbar-track {
    background: #ffffff;
}

*::-webkit-scrollbar-thumb {
    background-color: #808080;
    border-radius: 16px;
    border: 6px solid #ffffff;
}