{% extends "layout.html" %}
{% block title %}Play{% endblock %}
{% block content %}
    <div class="bg play">
        <div class="cardContainer">
            <div class="button-wrapper">
                <div class="answer">
                    <button class="btn btn-primary btn-lg" id="showAnswer">Show Answer</button>
                </div>
                <div class="transit-pages">
                    <button class="btn btn-outline-primary btn-lg" id="nextBtn">Next Question</button>
                </div>
            </div>
            <div class="submit-all">
                <button class="btn btn-primary btn-lg" id="submitAll">Submit All Answers</button>
            </div>
            <div class="submit-all">
                <a href="/dashboard" class="btn btn-primary btn-lg" id="back">Go back to dashboard</a>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js"></script>
    <script type="module" src="../static/play.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
{% endblock %}
